<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codon" version="2.2.1" targetFramework="net47" />
  <package id="Codon.Extras.Core" version="2.2.1" targetFramework="net47" />
  <package id="Codon.Extras.Wpf" version="2.2.1" targetFramework="net47" />
  <package id="Codon.Wpf" version="2.2.1" targetFramework="net47" />
</packages>