<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codon" version="2.0.6-alpha" targetFramework="monoandroid71" />
  <package id="Codon.Android" version="2.0.6-alpha" targetFramework="monoandroid71" />
  <package id="Codon.Extras.Android" version="2.0.6-alpha" targetFramework="monoandroid71" />
  <package id="Codon.Extras.Core" version="2.0.6-alpha" targetFramework="monoandroid71" />
  <package id="Codon.UI.Data" version="2.0.6-alpha" targetFramework="monoandroid71" />
</packages>